@charset "UFT-8";
        body{
            background-color:rgb(229, 237, 238);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(94, 90, 87);
            background-color: rgb(245, 178, 55);
        }
        h2 {
            color: #eb3d3d;
        }
        p{
            text-align: justify;
        }
